.hobbies{
    background: var(--cor-seccion);
    height: 22rem;
    padding-top: 4rem;
}

.hobbies_titulo{
    font-family: var(--montserrat) cursive;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 900;
}

.hobbies_linea{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 4em;
}

.hobbies_box{
    background: var(--cor-hobbies);
    width: 8%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    box-shadow: 2px 5px 7px 0px rgb(0 0 0 / 80%);
    background: aquamarine;
}

.hobbies_img{
    width: 6rem;
    display: inline-block;
}

.hobbies_nombre{
    text-align: center;
    display: block;
}